/mtuciiflix-server/.idea/
/mtuciflix-admin-ui/target/
/mtucilfix-api/target/
/mtuciiflix-server/target/
/mtuciflix-ui/target/
/mtuciflix-ui/.idea/
/mtuciflix-api/.idea/
/mtuciflix-admin-ui/.idea/
/mtuciiflix-server/.idea/